.sinborde td, .sinborde tr{
	border: none !important;
}

.sinbordetam{
	width: 100% !important; 
}

.centrado{
	text-align: center !important;
	margin-left: 50% !important; 
	margin:0px auto !importantS; 
}