.sinborde td, .sinborde tr{
	border: none !important;
}

.sinbordetam{
	width: 100% !important; 
}

.centrado{
	text-align: center !important;
	margin-left: 50% !important; 
	margin:0px auto !importantS; 
}

.sacarscroll{
  overflow: hidden !important;
}

.ui-wizard-nav-back{
	display: none !important;
}

.tamtipletra{
	font-family: sans-serif !important;
	font-size: 80% !important;
	font-style: normal !important;
}